* {
  box-sizing: border-box;
  /* border: 1px solid rgba(255, 0, 0, 0.5); */
}

/* ----------- Navigation styling ----------- */
.navitem, .dropbtn, .dropitem {
  padding: 20px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: inherit;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
}

.navitem:hover, .dropdown:hover .dropbtn {
  /* Must come after normal state styling */
  background-color: #2075d6;
}

.navitem:active {
  /* Must come after hover state styling */
  background-color: #1565C0;
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.4);
}

.dropitem:hover {
  /* Must come after normal state styling */
  background-color: #6e00db;
}

.dropitem:active {
  /* Must come after hover state styling */
  background-color: #5c00b7;
}

/* ----------- Navigation logic ----------- */
.navitem, .dropdown, .dropitem {
  display: inline-block;
  width: 100%;
}

.dropdown {
  /* so it's the containing block for the absolutely positioned content */
  position: relative;
}

.dropcnt {
  /* hide content by default */
  display: none;
  /* take out of flow and position with regards to parent */
  position: absolute;
  /* make as wide as parent */
  /* could also set fixed width and align left or right with left / right properties */
  width: 100%;
  /* some styling */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* show above everything else */
  z-index: 1;
}

.dropdown:hover .dropcnt {
  /* show content upon hovering on trigger */
  display: block;
}

/* ----------- Making page responsive ----------- */
/* Use mobile first approach */
@media screen and (min-width: 600px) {
  nav {
    position: sticky;
    top: 0;
  }

  .navitem, .dropdown {
    /* need to make selectors at least as specific as above */
    width: 25%;
  }
}

/* ----------- Styling ----------- */
body {
  margin: 0;
  background-color: #b92b27;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

header {
  margin: 0;
}

header h1 {
  /* font-size: 5vw; */
  padding: 1vw 0;
  text-transform: capitalize;
}

/* fixed background, could switch to whatever container */
main {
  /* background-image: url("sample.jpg");
  background-position: center;
  background-size: cover; */
  background-attachment: fixed;
  background: linear-gradient(0deg, #1565C0, #b92b27);
}

main {
  /* create some height while also centering vertically*/
  padding: 300px 0;
  font-size: 1.2em;
}

footer {
  padding: 5px 0;
  background-color: #1565C0;
  color: #aaa;
}
