* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Serif', serif;
  text-align: center;
  height: 100vh;
  /* to be containing block of absolutely positioned blockquote */
  position: relative;
  overflow: hidden;
}

header h1 {
  font-size: 3em;
}

blockquote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 15px;
  background-color: #eee;
  border-radius: 5px;
}

#quote {
  margin: 0 0 1em 0;
  letter-spacing: 0.2px;
  font-size: 1.3em;
}

#title {
  font-variant: small-caps;
  font-size: 0.8em;
  letter-spacing: 1px;
  color: #777;
  margin: 0;
}

footer {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 0.6em;
  color: #aaa;
}

@media screen and (max-width: 800px) {
  blockquote {
    width: 90%;
  }
}
