---
layout: base.ejs
title: Blog
author: vwkd
description: blog blog blog
css: blog.css
---

<h1><%= title %></h1>

<ul>
    <% collections.posts.forEach(post => { %>
        <li>
            <a href="<%= post.url %>">
                <%= post.data.title %>
            </a>
        </li>
    <% })%>
</ul>
