---
layout: base.ejs
css: contact.css
title: Contact
author: vwkd
description: contact me
---
<!-- todo: add action -->
<form action="" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Your name..."/>

        <label for="email">E-Mail</label>
        <input type="email" name="email" id="email" placeholder="Your e-mail..."/>

        <label for="message">Message</label>
        <textarea
            name="message"
            id="message"
            cols="30"
            rows="10"
            placeholder="Your message..."
        ></textarea>

    <button type="submit">Submit</button>
</form>
