---
layout: base.ejs
title: Contact
author: vwkd
description: contact me
css: contact.css
---

<form action="POST" method="post">
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <button type="submit"></button>
</form>