---
layout: base.ejs
title: Projects
author: vwkd
description: projects i did
css: projects.css
---

<div class="grid">

<% collections.projects.forEach(project => { %>
<a href="<%= project.url %>">
    <h2 class="title"><%= project.data.title %></h2>
    <p class="description"><%= project.data.description %></p>
</a>
<% })%>

</div>