---
layout: base.ejs
css: projects.css
title: Projects
author: vwkd
description: projects i did
sitemap:
    changefreq: daily
    priority: 0.9
---
<div class="grid">

<% collections.projects.forEach(project => { %>
<a href="<%= project.url %>">
    <h2 class="title"><%= project.data.title %></h2>
    <p class="description"><%= project.data.description %></p>
</a>
<% })%>

</div>